/*Custom CSS */

.container h2 {
  
}

#contact-list {
  line-height: 200%;
  
}

#contact-list #float {
  display: ;
  text-align: ;
  font-size: 200%;
  margin-top: px;
}

#pdf-display,
#pdf-display2  {
  height: 1000px;
}

#main-img {
  height: 480px;
  width:  auto;
  margin-left: 35px;

}

#webskills {
  float: left;
}

#progskills {
  float: left;
}

.span6 h4 {
  text-align: center;
}

#abouttxt {
  margin-top: 25%;
  line-height: 200%;
}

#current_end {
  margin-top: 20px;
  text-align: center;
}

#about {
  text-align: center;
}